#contacta {
    color: white;
    width: 100%;
}

#formulario {
    height: 100%;
    padding: 2%;
    background-image: url('../assets/img/fondo.jpg');
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 0px -3px 65px 0px black;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

label {
    margin: 27px 0px 6px 0px;
    width: 100%;
    display: block;
}

#gen {
    margin-left: 6%;
}

#mujer,
#hombre {
    width: 22px;
    display: inline-block;
}

#formulario {
    padding-left: 10%;
}

select {
    height: 2em;
    border-radius: 10px;
}

input {
    height: 16px;
    text-align: center;
}

input,
textarea {
    border-radius: 10px;
    outline: none;
    font-size: 17px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: initial;
    border-style: solid;
    border-width: 2px;
    color: beige;
    border-color: beige;
}

.datos .genero {
    display: inline-block;
    margin: 3em;
    width: 100%;
}

#contacta button {
    width: 8em;
    height: 3em;
    border-radius: 20px;
    outline: none;
    margin-left: 25%;
    margin-top: 6%;
}

img {
    width: 13%;
}

li {
    list-style: none;
    display: inline;
    /* width: 54px; */
}

ul {
    padding-left: 3em;
    width: 18em;
}

#contacta button:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
    color: white;
    box-shadow: 0px 1px 9px 1px grey;
    background-color: grey;
}

.reVotar {
    visibility: hidden;
}

#otrosContactos {
    border-style: solid;
    border-color: beige;
    border-radius: 20px;
    margin-top: 2em;
}

#otrosContactos p {
    margin-top: 3em;
}
