#formacion .info {
    background-image: url('..assets/img/edificio.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}

.Conocimientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    width: 15em;
}

.Conocimientos p {
    text-align: center;
    height: 2em;
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 5em;
    margin: 12px;
    padding-top: 8px;
}

.Conocimientos p:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 1px 9px 1px grey;
}
