#informacion-personal,
#formación,
#experiencia-profesional {
    background-color: black;
    height: 24em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 66em;
    justify-content: space-around;
    border-radius: 20px;
    margin: 27px;
}

#información-personal:after {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 1, 0.9);
}

#informacion-personal article,
#formación article,
#experiencia-profesional article {
    flex-grow: 2;
    padding: 5%;
    color: white;
    /*visibility: hidden;*/
}
